# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs


# Xcode
platform/macos/**/xcuserdata/
platform/macos/**/Build/

platform/windows/**/Build/
platform/windows/**/.vs/
